body {
    background-color: #1D1B1C;
    
}
.content {
    border-spacing: 20px;
    padding: 200px;
    text-align: center;
}

tr:nth-last-child(2){
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    color: #FFFFFF;
    
}

.content p {
    background:  #FFAD00 ;
    border-radius: 20px 0 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 75px;
}
